body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.login-container form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #002147;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #002147;
}

.login-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    color: #002147;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #e6b800;
}


.Index, .Dashboard {
    text-align: center;
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.Index-header, .Dashboard-header {
    background-color: #002147; /* Azul Marinho */
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Index-header h1, .Dashboard-header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ffcc00; /* Amarelo */
}

.user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.user-info svg {
    margin-right: 10px;
    font-size: 1.5em;
}

.user-info span {
    margin-right: 10px;
}

.user-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.user-info:hover .user-menu {
    display: block;
}

.user-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
}

.user-menu a:last-child {
    border-bottom: none;
}

.user-menu a:hover {
    background-color: #f0f0f0;
}

.menu-toggle {
    background: none;
    border: none;
    color: #ffcc00; /* Amarelo */
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
}

button {
    background-color: #ffcc00; /* Amarelo */
    color: #002147; /* Azul Marinho */
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #e6b800;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #002147;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.Dashboard-sidebar {
    background-color: #003366;
    padding: 20px;
    color: #fff;
    text-align: left;
    transition: width 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
}

.Dashboard-sidebar h2 {
    color: #ffcc00; /* Amarelo */
    cursor: pointer;
}

.Dashboard-sidebar ul {
    list-style: none;
    padding: 0;
}

.Dashboard-sidebar li {
    margin: 10px 0;
}

.Dashboard-sidebar a {
    color: #ffcc00; /* Amarelo */
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.Dashboard-sidebar a:hover {
    background-color: #002147; /* Azul Marinho */
}

.Dashboard-sidebar a svg {
    margin-right: 10px;
    font-size: 1.5em; /* Tamanho fixo para os ícones */
}

.Dashboard-main {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin-left: 200px; /* Ajustar para a largura do menu aberto */
    transition: margin-left 0.3s ease;
}

.sidebar-closed .Dashboard-main {
    margin-left: 50px; /* Ajustar para a largura do menu fechado */
}

.Dashboard-overview {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.Dashboard-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dashboard-card h3 {
    margin: 0;
    color: #002147;
    font-size: 1.5em;
}

.Dashboard-card p {
    font-size: 2em;
    font-weight: bold;
    color: #fff; /* Cor dos números alterada para branco */
}

.members {
    background-color: #b3cde0; /* Fundo mais escuro */
}

.congregados {
    background-color: #a3d4a5; /* Fundo mais escuro */
}

.nao-batizados {
    background-color: #fbb4b9; /* Fundo mais escuro */
}

.batizados {
    background-color: #a3d3ff; /* Fundo mais escuro */
}

.Dashboard-details {
    display: flex;
    justify-content: center; /* Alinhamento centralizado */
    flex-wrap: wrap;
    width: 100%;
}

.Dashboard-recent, .Dashboard-birthdays, .Dashboard-events {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dashboard-recent h3, .Dashboard-birthdays h3, .Dashboard-events h3 {
    margin-top: 0;
    color: #002147;
}

.Dashboard-recent ul, .Dashboard-birthdays ul, .Dashboard-events ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar-open .Dashboard-sidebar {
    width: 200px;
}

.sidebar-closed .Dashboard-sidebar {
    width: 50px;
}

.sidebar-closed .Dashboard-sidebar h2,
.sidebar-closed .Dashboard-sidebar ul {
    display: none;
}

@media (max-width: 768px) {
    .Dashboard {
        flex-direction: column;
        height: auto;
    }

    .Dashboard-sidebar {
        width: 100%;
        height: auto;
        padding: 10px;
        text-align: center;
        position: relative;
    }

    .sidebar-closed .Dashboard-sidebar {
        width: 100%;
        height: auto;
    }

    .sidebar-closed .Dashboard-sidebar h2,
    .sidebar-closed .Dashboard-sidebar ul {
        display: block;
    }

    .Dashboard-main {
        padding: 10px;
        margin-left: 0;
    }

    .Dashboard-overview, .Dashboard-details {
        flex-direction: column;
        align-items: center;
    }

    .Dashboard-card, .Dashboard-recent, .Dashboard-birthdays, .Dashboard-events {
        width: 100%;
        margin-bottom: 20px;
    }

    .Index-header h1, .Dashboard-header h1 {
        font-size: 2em;
    }

    button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}
